/*xxl*/
.grid {
    width: 100%;
    max-width: 1320px;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.column {
    padding-left: 10px;
    padding-right: 10px;
}

.hideOnXxl {
    display: none;
}

.showOnXxl {
    display: block;
}

.xxl-0 {
    display: none;
}

.xxl-1,
.xxl-2,
.xxl-3,
.xxl-4,
.xxl-5,
.xxl-6,
.xxl-7,
.xxl-8,
.xxl-9,
.xxl-10,
.xxl-11,
.xxl-12 {
    display: block;
}

.xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.xxl-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.xxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*xl*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .grid {
        max-width: 1140px;
    }

    .header {
        width: 1140px;
    }
    
    .content__category1-item5,
    .content__category2-item5,
    .content__category3-item5,
    .content__category4-item5,
    .content__category5-item5,
    .content__category6-item5,
    .content__category8-item5 {
        margin-top: 20px;
    }

    .news_img {
        height: 130px;
    }

    .serviceList__item-img {
        height: 90px;
        width: 130px;
        min-width: 130px;
    }

    .hideOnXl {
        display: none;
    }
    
    .showOnXl {
        display: block;
    }

    .xl-0 {
        display: none;
    }
    
    .xl-1,
    .xl-2,
    .xl-3,
    .xl-4,
    .xl-5,
    .xl-6,
    .xl-7,
    .xl-8,
    .xl-9,
    .xl-10,
    .xl-11,
    .xl-12 {
        display: block;
    }
    
    .xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*lg*/
@media (min-width: 992px) and (max-width: 1199px) {
    .grid {
        max-width: 960px;
    }

    .header {
        width: 960px;
    }

    .header__navBar-item {
        padding: 0px 10px;
    }

    .header__navBar-solution,
    .header__navBar-service {
        padding: 0px 20px 0px 6px;
    }

    .header__navBar-service-arrow,
    .header__navBar-solution-arrow {
        right: 5px;
    }

    .header__homePage-link {
        margin-right: 0px;
    }

    .header__searchContainer {
        margin: 0px 16px 0px auto;
    }

    .content__leftBanner {
        height: 334px;
    }
    
    .content__rightBanner-up,
    .content__rightBanner-down {
        height: 155px;
    }

    .content__banner2-left,
    .content__banner2-middle,
    .content__banner2-right {
        height: 220px;
    }

    .content__navBar-item5 {
        margin-top: 20px;
    }

    .content__category1-item5,
    .content__category2-item5,
    .content__category3-item5,
    .content__category4-item5,
    .content__category5-item5,
    .content__category6-item5,
    .content__category8-item5 {
        margin-top: 20px;
    }

    .news_img {
        height: 100px;
    }

    .serviceList__item-img {
        height: 80px;
        width: 120px;
        min-width: 120px;
    }

    .hideOnLg {
        display: none;
    }

    .showOnLg {
        display: block;
    }

    .lg-0 {
        display: none;
    }
    
    .lg-1,
    .lg-2,
    .lg-3,
    .lg-4,
    .lg-5,
    .lg-6,
    .lg-7,
    .lg-8,
    .lg-9,
    .lg-10,
    .lg-11,
    .lg-12 {
        display: block;
    }
    
    .lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*md*/
@media (min-width: 768px) and (max-width: 991px) {
    .grid {
        max-width: 720px;
    }
    
    .header {
        width: 720px;
    }

    .header__part2 {
        margin-bottom: 58.4px;
    }

    .header__homePage-link {
        margin-right: 0px;
    }

    .header__searchContainer {
        margin: 0px 16px 0px auto;
    }

    .content__service-customerIntroduce,
    .content__service-customerSupport {
        margin-top: 20px;
    }

    .content__banner2-left,
    .content__banner2-middle,
    .content__banner2-right {
        height: 170px;
    }

    .content__navBar-item4,
    .content__navBar-item5 {
        margin-top: 20px;
    }

    .content__bestSeller-item3 {
        margin-top: 20px;
    }

    .content__saleProduct-item4,
    .content__saleProduct-item5 {
        margin-top: 20px;
    }

    .content__category1-item4,
    .content__category1-item5,
    .content__category2-item4,
    .content__category2-item5,
    .content__category3-item4,
    .content__category3-item5,
    .content__category4-item4,
    .content__category4-item5,
    .content__category5-item4,
    .content__category5-item5,
    .content__category6-item4,
    .content__category6-item5,
    .content__category8-item4,
    .content__category8-item5 {
        margin-top: 20px;
    }

    .news_img {
        height: 70px;
    }

    .footer__shopInfo-item4 {
        margin-bottom: 20px;
    }

    .content__solutionList {
        margin-bottom: 20px;
    }

    .content-newsPage__pageBar {
        margin-top: 20px;
    }

    .hideOnMd {
        display: none;
    }

    .showOnMd {
        display: block;
    }

    .md-0 {
        display: none;
    }
    
    .md-1,
    .md-2,
    .md-3,
    .md-4,
    .md-5,
    .md-6,
    .md-7,
    .md-8,
    .md-9,
    .md-10,
    .md-11,
    .md-12 {
        display: block;
    }
    
    .md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*sm*/
@media (min-width: 576px) and (max-width: 767px) {
    .grid {
        max-width: 540px;
    }

    .header {
        width: 540px;
    }

    .header__part2 {
        margin-bottom: 58.4px;
    }

    .header__navBarForBelowLarge {
        font-size: 13px;
    }

    .header__homePage-link {
        margin-right: 0px;
    }

    .header__searchContainer {
        margin: 0px 16px 0px auto;
    }

    .searchContainer__input {
        padding-right: 50px;
    }
    
    .content__leftBanner {
        height: 300px;
    }

    .content__service-customerIntroduce,
    .content__service-customerSupport {
        margin-top: 20px;
    }

    .content__banner2-middle {
        height: 230px;
    }

    .content__navBar-item3,
    .content__navBar-item4,
    .content__navBar-item5 {
        margin-top: 20px;
    }

    .content__bestSeller-item2,
    .content__bestSeller-item3 {
        margin-top: 20px;
    }
    
    .content__saleProduct-item3,
    .content__saleProduct-item4,
    .content__saleProduct-item5 {
        margin-top: 20px;
    }

    .content__category1-item4,
    .content__category1-item5,
    .content__category2-item4,
    .content__category2-item5,
    .content__category3-item4,
    .content__category3-item5,
    .content__category4-item4,
    .content__category4-item5,
    .content__category5-item4,
    .content__category5-item5,
    .content__category6-item4,
    .content__category6-item5,
    .content__category8-item4,
    .content__category8-item5 {
        margin-top: 20px;
    }

    .news_img {
        height: 70px;
    }

    .footer__shopInfo-item4 {
        margin-bottom: 20px;
    }

    .content__solutionList {
        margin-bottom: 20px;
    }

    .content-newsPage__pageBar {
        margin-top: 20px;
    }

    .content__newsList {
        margin-bottom: 20px;
    }

    .hideOnSm {
        display: none;
    }

    .showOnSm {
        display: block;
    }

    .sm-0 {
        display: none;
    }
    
    .sm-1,
    .sm-2,
    .sm-3,
    .sm-4,
    .sm-5,
    .sm-6,
    .sm-7,
    .sm-8,
    .sm-9,
    .sm-10,
    .sm-11,
    .sm-12 {
        display: block;
    }
    
    .sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*xsm*/
@media (max-width: 575px) {
    .grid {
        max-width: 100%;
    }

    .header {
        width: 100%;
    }

    .header__part2 {
        margin-bottom: 58.4px;
    }

    .header__navBarForBelowLarge {
        font-size: 11.8px;
    }

    .header__homePage-link {
        margin-right: 0px;
    }

    .header__searchContainer {
        margin: 0px 16px 0px auto;
    }

    .searchContainer__input {
        padding-right: 0px;
    }

    /* .header_shoppingCart::after {
        content: "2";
        display: block;
        width: 50%;
        height: 50%;
        background-color: var(--white1);
        border: 0.5px solid var(--black);
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .content__leftBanner {
        height: 300px;
    }

    .content__service-customerIntroduce,
    .content__service-customerSupport {
        margin-top: 20px;
    }

    .content__banner2-middle {
        height: 220px;
    }

    .content__navBar-item3,
    .content__navBar-item4,
    .content__navBar-item5 {
        margin-top: 20px;
    }

    .content__bestSeller-item2,
    .content__bestSeller-item3 {
        margin-top: 20px;
    }

    
    .content__saleProduct-item3,
    .content__saleProduct-item4,
    .content__saleProduct-item5 {
        margin-top: 20px;
    }
    
    .content__category1-item3,
    .content__category1-item4,
    .content__category1-item5,
    .content__category2-item3,
    .content__category2-item4,
    .content__category2-item5,
    .content__category3-item3,
    .content__category3-item4,
    .content__category3-item5,
    .content__category4-item3,
    .content__category4-item4,
    .content__category4-item5,
    .content__category5-item3,
    .content__category5-item4,
    .content__category5-item5,
    .content__category6-item3,
    .content__category6-item4,
    .content__category6-item5,
    .content__category8-item3,
    .content__category8-item4,
    .content__category8-item5 {
        margin-top: 20px;
    }

    .news_img {
        height: 85px;
    }

    .footer__shopInfo-item4 {
        margin-bottom: 20px;
    }

    .content__solutionList {
        margin-bottom: 20px;
    }

    .content-newsPage__pageBar {
        margin-top: 20px;
    }

    .content-introductionPage {
        margin: 0px 10px;
    }

    .content-onlineBillPage {
        margin-left: 10px;
    }

    .content__newsList {
        margin-bottom: 20px;
    }

    .hideOnXsm {
        display: none;
    }
    
    .showOnXsm {
        display: block;
    }

    .xsm-0 {
        display: none;
    }
    
    .xsm-1,
    .xsm-2,
    .xsm-3,
    .xsm-4,
    .xsm-5,
    .xsm-6,
    .xsm-7,
    .xsm-8,
    .xsm-9,
    .xsm-10,
    .xsm-11,
    .xsm-12 {
        display: block;
    }
    
    .xsm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .xsm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .xsm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .xsm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .xsm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .xsm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .xsm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .xsm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .xsm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .xsm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .xsm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .xsm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
